.AB-1:hover {
    color:blue;
    background-color: black;
    }
    .AB-2:hover {
        color: red;
        background-color: black;
       
        }
        .AB-3:hover {
            color: red;
            background-color: black;
            }
            em {
            color:rgb(131, 110, 151);
            font-size: 20px;
            }
            .AD{
                background-color:#65657F;
            }